@import '../components/common/Constants.less';

html {
  overflow: hidden;
}

body {
  background-color: @body-bg-color;
}

// hide all scroll bar for module card

.card-typical-section ::-webkit-scrollbar {
    display: none;
}

// tab font colour
.tabs-section-nav.tabs-section-nav-icons .nav-link.active{
  color: #ff6600;
}
